body {
    background-color: gray;
}

.cantainer {
    max-width: 900px;
    margin: 0 auto;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px 10px rgba(2, 2, 2, 0.5);
    border-radius: 10px;

}

.sub {
    font-size: 20px;

}

.names {
    font-size: 15px;
    font-weight: bold;
}

.form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form_controler {
    display: flex;
    flex-direction: column;
}