@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;


}

.hero_section {
    background-image: url(img/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.text_container {
    color: white;
    max-width: 900px;
    margin: 0px auto;
    padding-top: 70px;
    padding-left: 50px;
}

.lg_text {
    font-size: 60px;
    font-weight: 200px;
}

.black_box {
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.black_box h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 300;
}

.black_box h2 span {
    font-weight: 600;

    font-size: 50px;
}