/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    ;
    } */

body {
    background-color: aliceblue;
}

p {
    font-size: 40px;
}

.images {

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.khola {
    height: 631px;
    width: 640px;
}

.thunder {
    height: 631px;
    width: 640px;
}